@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    box-sizing:border-box ;
     list-style: none;
     text-decoration: none;
}
img{
    height: 250px;
    width: 250px;
    
}

header{
    position: fixed;
    width: 100%;
    background-color:#5cbde4 ;
    z-index:1000;
}
.nav_container{
    display: flex;
    align-items: center;
     margin: auto;
    justify-content: space-between;
    max-width: 1100px;
   margin-top: 20px;
   margin-bottom: 20px;
   color: #000;
   

}
.cart{
    position: fixed;
    top:0;
    right:-100%;
    width: 400px;
    min-height: 100vh;
    background-color: white;
    box-shadow: -2px 0 4px hsl(0 4% 15% / 10%);
    transition: 0.3s;
}
.cart.active {
    right: 0;
}
.cart.remove {
    right:-100%;
}

.cart-title{
    text-align: center;
    font-size: 1.5rem;
    margin-top: 2rem;
}
.detail-box{
    display: grid;
}
.cart-quantity{
    border: 1px solid ;
    width :2.4rem;
    text-align: center;
}
.cart-remove{
    font-size: 24px;
    cursor: pointer;
    color: brown;
}
.Total{
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid black;
}
.Total-price{
    margin-left: 0.5rem;
}
.Btn-buy{
    display: flex;
    margin: 1.5rem auto 0 auto ;
    cursor: pointer;
    color: white;
    background: #00b055;
}
#close-cart{
    position:absolute;
    font-size: 2rem;
    top:1rem;
    right:0.8rem;
    cursor: pointer;
}
.cart-box{
    display: grid;
    align-items: center;
    grid-template-columns: 32% 50% 18%;
    margin-top: 1rem;
    gap:1rem;
}
.cart-image{
    width: 100px;
    height:100px;
}

.logo{
    font-size: 1.1rem;
    font-weight: 400;

}
#cartIcon{
   font-size: 2rem;
   cursor: pointer;
}
section{
    padding-top: 5rem ;
    margin-left: 100px;
    margin-right: 100px;
   
}

.section_title{
    text-align: center;
    margin-bottom: 50px;
}
.shop_content{
    display: grid;

    grid-template-columns: auto auto auto auto;
    gap: 20px;
}
.product_box{
    position: relative;
}
.product-image{
    position: relative;
    background: gray;
}
.product-image:hover{
    transition: 0,4s;
    padding: 10px;
    size:1.2rem;
}

/*.product_box :hover {
    padding: 10px;
    transition: 0,4s;
    /*border: 1px solid black;
    size: 1.2rem;
} */

.product-title{
 font-size: 1.1rem;

}
.price{
    font-weight: 500;
}
.add-cart{
position: absolute;
right: 0;
background-color: rgba(167, 161, 161, 0.158);
cursor: pointer;
font-size: 2rem ;
height:30px;
width: 30px;
}

@media (max-width: 1080px) {
  .nav_container {
    padding: 15px;
  }
  .shop_content{
    
    margin-top: 2rem !important;

  }
}
@media (max-width: 600px){
.nav_container{
  padding: 11px;
  font-size: .8rem;
}
.shop_content{
  display:grid;

    grid-template-columns: 1fr;
  margin-top: 2rem !important;
}
.product_box{
  position: relative;
  padding-left: 10px;
}
.adel{
  width: 100px;
  height: 100px;
}
  .logo{
    font-size: .8rem;
  }
  .cart{
    width: 320px;
  }
}
 


.adel{
    width: 1200px;
    height: 500px;
}
footer{
    background : gray;
}

  .social {
    display: flex;
    justify-content: space-around;
 
}.social a{
    width: 45px ;
    height: 45px;
    display: flex ;
    align-items: center;
    justify-content: center;
    background-color: brown;
    border-radius: 50%;
    
  }
  
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");



body {
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

ul {
  list-style: none;
}

input {
  overflow: hidden;
}

.section-title {
  position: relative;
  font-size: 30px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  margin: 0 0 35px;
  text-align: justify;
}

.sec-pad {
  padding: 60px 0 0;
  margin: 50px 0;
}

.contact-sec {
  align-item: center;
  display: flex;
  background-color: #5cbde4;
}

.contact-sec .contact-ul li,
.contact-ul b {
  font-size: 20px;
  margin: 10px 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  word-wrap: break-word;
}

.contact-sec .contact-ul i {
  font-size: 18px;
  padding: 10px;
  margin-right: 10px;
  border-radius: 50%;
}
.contact-detail a {
  color: #000;
  text-decoration: none;
}

.contact-sec .contact-ul li b:hover {
  color: #f93;
}

.contact-sec .contact-ul li .fa-location-dot {
  color: #f44337;
  border: 2px solid #f4433790;
}

.contact-sec .contact-ul li .fa-phone {
  color: #00b055;
  border: 2px solid #00b05590;
}

.contact-sec .contact-ul li .fa-envelope {
  color: #ff6347;
  border: 2px solid #ff634790;
}

.contact-detail span {
  width: 400px;
  display: flex;
  justify-content: center;
}
.contact-detail span a {
  font-size: 20px;
  padding: 6px 12px;
  color: #000;
  border-radius: 50%;
  margin: 0px 5px;
}
.contact-detail span .fb {
  color: #3b5998;
  border: 3px solid #3b5998;
}
.contact-detail span .fb:hover {
  color: #fff;
  background-color: #3b5998;
}

.contact-detail span .insta {
  color: #833ab4;
  border: 3px solid #833ab4;
}
.contact-detail span .insta:hover {
  color: #fff;
  background-color: #833ab4;
}

.contact-detail span .twitter {
  color: #00acee;
  border: 3px solid #00acee;
}
.contact-detail span .twitter:hover {
  color: #fff;
  background-color: #00acee;
}

form.contFrm {
  max-width: 700px;
  margin: auto;
}

.inptFld {
  width: 100%;
  height: 50px;
  border: 0;
  margin: 0 0 10px;
  border-radius: 8px;
  padding: 0 20px;
  font-size: 16px;
  color: #000;
}
#contact-name{
    width: 100%;
  height: 50px;
  border: 0;
  margin: 0 0 10px;
  border-radius: 8px;
  padding: 0 20px;
  font-size: 16px;
  color: #000;
}
#contact-name:focus{
    outline-offset: -4px;
  outline: 1px solid #f93;
}

#contact-email{
  width: 100%;
height: 50px;
border: 0;
margin: 0 0 10px;
border-radius: 8px;
padding: 0 20px;
font-size: 16px;
color: #000;
}
#contact-email:focus{
  outline-offset: -4px;
outline: 1px solid #f93;
}
#contact-phone{
  width: 100%;
height: 50px;
border: 0;
margin: 0 0 10px;
border-radius: 8px;
padding: 0 20px;
font-size: 16px;
color: #000;
}
#contact-phone:focus{
  outline-offset: -4px;
outline: 1px solid #f93;
}
#contact-message{
  width: 100%;
height: 50px;
border: 0;
margin: 0 0 10px;
border-radius: 8px;
padding: 0 20px;
font-size: 16px;
color: #000;
}
#contact-message:focus{
  outline-offset: -4px;
outline: 1px solid #f93;
}
.inptFld:focus {
  outline-offset: -4px;
  outline: 1px solid #f93;
}
#contact-message{
  width: 100%;
height: 50px;
border: 0;
margin: 0 0 10px;
border-radius: 8px;
padding: 0 20px;
font-size: 16px;
color: #000;
}
#contact-message:focus{
  outline-offset: -4px;
outline: 1px solid #f93;
}

.contFrm textarea {
  height: 75px;
  padding-top: 5px;
}
.inptBtn {
  height: 50px;
  border: 0;
  background: #00b055;
  font-size: 14px;
  color: #fff;
  margin: auto;
  letter-spacing: 1px;
  cursor: pointer;
  width: 100%;
  max-width: 200px;
  border-radius: 5px;
}
.fa fa-check-circle-o{
  color: #00b055;
}

/* Responcive css Start */

@media (max-width: 991px) {
  .sec-pad {
    padding: 20px 0 0px;
  }

  .contact-sec .contact-ul li,
  .contact-ul b {
    font-size: 18px;
  }

  .contact-sec .contact-ul i {
    font-size: 14px;
    padding: 6px;
    margin-right: 6px;
  }

  .inptFld {
    height: 40px;
    margin: 0 0 10px;
    padding: 0 14px;
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  .contact-detail span {
    width: auto;
  }
  .contact-detail span a {
    font-size: 18px;
    padding: 5px 10px;
    color: #000;
    border-radius: 50%;
    margin: 0px 5px 20px;
  }
}

@media (max-width: 575px) {
  .section-title {
    font-size: 26px;
    font-weight: 500;
  }
  .contact-sec {
    border-radius: 10% 10% 0% 0% / 5% 5% 0% 0%;
  }

  .contact-sec .contact-ul i {
    border: none;
  }
  .inptFld {
    height: 36px;
    margin: 0 0 8px;
    padding: 0 14px;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .contact-sec .contact-ul li,
  .contact-ul b {
    font-size: 16px;
  }
}
.contFrm span{
    color: #f44337;
}
